<div class="grid">
	<div class="col-12">
        <div *ngIf="!dataLoaded; else dataIsLoaded">
            <div class="d-flex align-items-center justify-content-center" style="min-height: 78vh; flex-direction: column;">
                <div class="spinner-grow text-primary spinner-grow-lg" style="width: 9rem; height: 9rem;">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="text-animation d-flex justify-content-center align-items-center">
                    <h4 class="text-center" style="margin-bottom: 5px;">Estamos procesando tus pedidos.</h4>
                </div>
                <div class="text-animation d-flex justify-content-center align-items-center">
                    <h4 class="text-center" style="margin-top: 5px;">Espera por favor.</h4>
                </div>
            </div>
        </div>

        <ng-template #dataIsLoaded>
            <div class="card">
                <h5>Pedidos</h5>
                <p-table
                    #dt1
                    class="table table-responsive"
                    responsiveLayout="stack"
                    [value]="pedidos"
                    [rowHover]="true"
                    [rows]="5"
                    [showCurrentPageReport]="true"
                    [rowsPerPageOptions]="[5,10,20]"
                    [paginator]="true"
                    currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} pedidos"
                    [globalFilterFields]="['docNum']"
                    [tableStyle]="{ 'min-width': '50rem' }">

                    <!-- Input de busqueda -->
                    <ng-template pTemplate="caption">
                        <div class="flex justify-content-between flex-column sm:flex-row">
                            <span class="p-input-icon-left mb-2">
                                <i class="pi pi-search"></i>
                                <input
                                    #filter
                                    pInputText
                                    type="text"
                                    (input)="onGlobalFilter(dt1, $event)"
                                    placeholder="Buscar"
                                    class="w-full"
                                />
                            </span>
                        </div>
                    </ng-template>

                    <!-- Cabecera de la tabla -->
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th pSortableColumn="numAtCard" style="width: 15%">
                                <div class="flex justify-content-between align-items-center">
                                    N° de Pedido
                                    <p-sortIcon field="numAtCard"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="docNum" style="width: 15%">
                                <div class="flex justify-content-between align-items-center">
                                    Pedido interno
                                    <p-sortIcon field="docNum"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="seriesName" style="width: 15%">
                                <div class="flex justify-content-between align-items-center">
                                    Sucursal
                                    <p-sortIcon field="seriesName"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="docStatus" style="width: 15%">
                                <div class="flex justify-content-between align-items-center">
                                    Estado
                                    <p-sortIcon field="docStatus"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="docDate" style="width: 15%">
                                <div class="flex justify-content-between align-items-center">
                                    Fecha de Ingreso
                                    <p-sortIcon field="docDate"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="taxDate" style="width: 15%">
                                <div class="flex justify-content-between align-items-center">
                                    Fecha de Entrega
                                    <p-sortIcon field="taxDate"></p-sortIcon>
                                </div>
                            </th>
                            <th style="width: 10%">
                            </th>
                        </tr>
                    </ng-template>

                    <!-- Contenido dinamico que se mostrará en la tabla -->
                    <ng-template pTemplate="body" let-pedido let-columns="columns">
                        <tr>
                            <td class="align-middle">
                                {{ pedido.numAtCard }}
                            </td>
                            <td class="align-middle">
                                {{ pedido.docNum }}
                            </td>
                            <td class="align-middle">
                                {{ pedido.seriesName }}
                            </td>
                            <td class="align-middle">
                                {{ pedido.docStatus }}
                            </td>
                            <td class="align-middle">
                                {{ formatDate( pedido.docDate ) }}
                            </td>
                            <td class="align-middle">
                                {{ formatDate( pedido.docDueDate ) }}
                            </td>
                            <td class="align-middle">
                                <!-- Botones que abren los modal -->
                                <div class="flex justify-content-center">
                                    <!-- Botón detalles -->
                                    <button
                                        pButton
                                        pRipple
                                        icon="pi pi-list"
                                        class="p-button-rounded p-button-info mr-2"
                                        (click)="showDetails(pedido.docNum)">
                                    </button>
                                    <!-- Botón tracking -->
                                    <button
                                        pButton
                                        pRipple
                                        icon="pi pi-truck"
                                        class="p-button-rounded p-button-success"
                                        (click)="showTracking(pedido.docNum)">
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>

                    <!-- Mensaje en caso de que no exista información -->
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="8">No se encontraron pedidos.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </ng-template>
	</div>
</div>
