
.backgroung-card {
    background-color: #fff;
    color: #000;
}
.lara-light {
    /* Estilos para el tema Lara Light */
    background-color: #ffffff;
    color: #000000;
    /* Agrega otros estilos específicos de Lara Light aquí */
}
.p-datatable-white {
    background-color: #fff;
}

.p-datatable-white .p-datatable-caption {
    color: #000; /* Cambia el color del título de la tabla a negro */
}

.p-datatable-white .p-sortable-column-header,
.p-datatable-white .p-column-title,
.p-datatable-white .p-cell {
    color: #000; /* Cambia el color del texto de las celdas a negro */
}
