<div class="grid">
    <div class="col-12">
        <div *ngIf="!dataLoaded; else dataIsLoaded"> <!-- ngIf que permite el dinamismo de mostrar ya sea este div que contiene una animación de cargando si esque dataLoaded es falso o si es verdadero se ejecuta el dataIsLoaded -->
            <div class="d-flex align-items-center justify-content-center" style="min-height: 78vh; flex-direction: column;">
                <div class="spinner-grow text-primary spinner-grow-lg" style="width: 9rem; height: 9rem;">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="text-animation d-flex justify-content-center align-items-center">
                    <h4 class="text-center" style="margin-bottom: 5px;">Estamos procesando tu inventario.</h4>
                </div>
                <div class="text-animation d-flex justify-content-center align-items-center">
                    <h4 class="text-center" style="margin-top: 5px;">Espera por favor.</h4>
                </div>
            </div>
        </div>

        <ng-template #dataIsLoaded>
            <div class="card">
                <h5>Stock</h5>
                <p-table
                    #dt1
                    class="table table-responsive"
                    responsiveLayout="stack"
                    [value]="stocks"
                    [rowHover]="true"
                    [rows]="7"
                    [showCurrentPageReport]="true"
                    [rowsPerPageOptions]="[7,14,21]"
                    [paginator]="true"
                    currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} items"
                    [globalFilterFields]="['itemCode','itemName','stock1']"
                    [tableStyle]="{ 'min-width': '50rem' }"> <!-- Carga la ingomación mediante el vector stocks -->

                    <!-- Input de busqueda -->
                    <ng-template pTemplate="caption">
                        <div class="flex justify-content-between flex-column sm:flex-row">
                            <span class="p-input-icon-left mb-2">
                                <i class="pi pi-search"></i>
                                <input
                                    #filter
                                    pInputText
                                    type="text"
                                    (input)="onGlobalFilter(dt1, $event)"
                                    placeholder="Buscar"
                                    class="w-full"
                                /> <!-- Input de busqueda con los parametros seleccionados -->
                            </span>
                        </div>
                    </ng-template>

                    <!-- Cabecera de la tabla -->
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th pSortableColumn="itemCode" style="width: 15%">
                                <div class="flex justify-content-between align-items-center">
                                    Código de Item
                                    <p-sortIcon field="itemCode"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="itemName" style="width: 55%">
                                <div class="flex justify-content-between align-items-center">
                                    Item
                                    <p-sortIcon field="itemName"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="stock1" style="width: 15%">
                                <div class="flex justify-content-between align-items-center">
                                    Cantidad
                                    <p-sortIcon field="stock1"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="bodega" style="width: 15%">
                                <div class="flex justify-content-between align-items-center">
                                    Bodega
                                    <p-sortIcon field="bodega"></p-sortIcon>
                                </div>
                            </th>
                        </tr>
                    </ng-template>

                    <!-- Contenido dinamico que se mostrará en la tabla -->
                    <ng-template pTemplate="body" let-stock  let-columns="columns">
                        <tr>
                            <td class="align-middle"><span class="p-column-title">Código de Item</span>{{ stock.itemCode }}</td>
                            <td class="align-middle"><span class="p-column-title">Item</span>{{ stock.itemName }}</td>
                            <td class="align-middle"><span class="p-column-title">Cantidad</span>
                                {{
                                    stock.stock1 % 1 === 0 ?
                                    stock.stock1.toLocaleString( undefined, { maximumFractionDigits: 0 } ) :
                                    stock.stock1.toLocaleString( undefined )
                                }}
                            </td> <!-- Aqui realizamos un condicional para definir si esque el número tiene o no decimales de tenerlos se le daria un formato y de no tener decimales se le daria otro formato -->
                            <td class="align-middle"><span class="p-column-title">Bodega</span>{{ stock.bodega }}</td>
                        </tr>
                    </ng-template>

                    <!-- Mensaje en caso de que no exista información -->
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="8">No se encontraron items en stock.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </ng-template>
    </div>
</div>
