<div class="grid">
    <div class="col-12">

        <!-- Animación de carga mientras se procesa la información -->
        <div *ngIf="!dataLoaded; else dataIsLoaded">
            <div class="d-flex align-items-center justify-content-center" style="min-height: 78vh; flex-direction: column;">
                <div class="spinner-grow text-primary spinner-grow-lg" style="width: 9rem; height: 9rem;">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="text-animation d-flex justify-content-center align-items-center">
                    <h4 class="text-center" style="margin-bottom: 5px;">Estamos procesando la información.</h4>
                </div>
                <div class="text-animation d-flex justify-content-center align-items-center">
                    <h4 class="text-center" style="margin-top: 5px;">Espera por favor.</h4>
                </div>
            </div>
        </div>

        <ng-template #dataIsLoaded>
            <div class="card px-6 py-6">
                <!-- Boton para abrir el modal para agregar una nueva persona -->
                <p-toolbar styleClass="mb-4 gap-2">
                    <div class="px-3 py-3">
                        <button
                            pButton
                            pRipple
                            label="Nuevo"
                            icon="pi pi-plus"
                            class="p-button-success mr-2"
                            (click)="openNewDate()">
                        </button>
                    </div>
                </p-toolbar>

                <p-table
                    #dt
                    class="table table-responsive"
                    responsiveLayout="stack"
                    [value]="datos"
                    [loading]="loading"
                    [rowHover]="true"
                    editMode="row"
                    [rows]="5"
                    [showCurrentPageReport]="true"
                    [rowsPerPageOptions]="[5,10,20]"
                    [paginator]="true"
                    currentPageReportTemplate="Montrando del {first} al {last} de {totalRecords} personas"
                    [globalFilterFields]="['nombreUsuarioTr','apellidoUsuarioTr','emailUsuarioTr']"
                    [tableStyle]="{ 'min-width': '50rem' }"> <!-- Carga la ingomación mediante el vector datos -->

                    <ng-template pTemplate="caption">
                        <!-- Input de busqueda con los parametros seleccionados -->
                        <div class="flex justify-content-between flex-column sm:flex-row">
                            <h5 class="m-0">Administrar personas</h5>
                            <span class="p-input-icon-left mb-2">
                                <i class="pi pi-search"></i>
                                <input
                                    #filter
                                    pInputText
                                    type="text"
                                    (input)="onGlobalFilter(dt, $event)"
                                    placeholder="Buscar..."
                                    class="w-full"
                                />
                            </span>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th pSortableColumn="nombreUsuarioTr" style="width: 15%">
                                <div class="flex justify-content-between align-items-center">
                                    Nombre
                                    <p-sortIcon field="nombreUsuarioTr"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="apellidoUsuarioTr" style="width: 15%">
                                <div class="flex justify-content-between align-items-center">
                                    Apellido
                                    <p-sortIcon field="apellidoUsuarioTr"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="emailUsuarioTr" style="width: 15%">
                                <div class="flex justify-content-between align-items-center">
                                    Correo
                                    <p-sortIcon field="emailUsuarioTr"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="telefonoUsuarioTr" style="width: 15%">
                                <div class="flex justify-content-between align-items-center">
                                    Telefono
                                    <p-sortIcon field="telefonoUsuarioTr"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="direccionUsuarioTr" style="width: 25%">
                                <div class="flex justify-content-between align-items-center">
                                    Dirección
                                    <p-sortIcon field="direccionUsuarioTr"></p-sortIcon>
                                </div>
                            </th>
                            <th style="width: 15%"></th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-user let-editing="editing">
                        <tr [pEditableRow]="user.datosLogin">
                            <td>
                                {{ user.nombreUsuarioTr }}
                            </td>
                            <td>
                                {{ user.apellidoUsuarioTr }}
                            </td>
                            <td>
                                {{ user.emailUsuarioTr }}
                            </td>
                            <td>
                                {{ user.telefonoUsuarioTr }}
                            </td>
                            <td>
                                {{ user.direccionUsuarioTr }}
                            </td>
                            <td>
                                <div class="flex align-items-center justify-content-center gap-2">
                                    <!--
                                        Conjunto de botones donde se muestra por defecto el 1er boton y al darle click
                                        este desaparece y aparecen los otros 2 botones
                                    -->
                                    <button
                                        *ngIf="!editing"
                                        pButton
                                        pInitEditableRow
                                        type="button"
                                        icon="pi pi-pencil"
                                        (click)="onRowEditInit(product)"
                                        class="p-button-rounded">
                                    </button>
                                    <button
                                        *ngIf="editing"
                                        pButton
                                        pSaveEditableRow
                                        type="button"
                                        icon="pi pi-check"
                                        (click)="onRowEditSave(product)"
                                        class="p-button-rounded p-button-success p-button-success mr-2">
                                    </button>
                                    <button
                                        *ngIf="editing"
                                        pButton
                                        pCancelEditableRow
                                        type="button"
                                        w icon="pi pi-times"
                                        (click)="onRowEditCancel(product, ri)"
                                        class="p-button-rounded p-button-danger p-button-danger">
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <!-- Modal para agregar un nuevo usuario -->
            <p-dialog
                header="Crear"
                [(visible)]="newPerson"
                [style]="{width: '450px'}"
                [modal]="true"
                styleClass="p-fluid">
                <ng-template pTemplate="content">
                    <form>
                        <div class="field">
                            <label for="nombreUsuarioTr">Nombre</label>
                            <input
                                pInputText
                                required
                                id="nombreUsuarioTr"
                                type="text"
                                [(ngModel)]="nombreUsuarioTr"
                                name="nombreUsuarioTr"
                            />
                            <small
                                class="p-error"
                                *ngIf="submitted && !nombreUsuarioTr">
                                Nombre es requerido.
                            </small>
                        </div>
                        <div class="field">
                            <label for="apellidoUsuarioTr">Apellido</label>
                            <input
                                pInputText
                                required
                                id="apellidoUsuarioTr"
                                type="text"
                                [(ngModel)]="apellidoUsuarioTr"
                                name="apellidoUsuarioTr"
                            />
                            <small
                                class="p-error"
                                *ngIf="submitted && !apellidoUsuarioTr">
                                Apellido es requerido.
                            </small>
                        </div>
                        <div class="field">
                            <label for="direccionUsuarioTr">Dirección</label>
                            <input
                                pInputText
                                required
                                id="direccionUsuarioTr"
                                type="text"
                                [(ngModel)]="direccionUsuarioTr"
                                name="direccionUsuarioTr"
                            />
                            <small
                                class="p-error"
                                *ngIf="submitted && !direccionUsuarioTr">
                                Dirección es requerida.
                            </small>
                        </div>
                        <div class="field">
                            <label for="emailUsuarioTr">Correo</label>
                            <input
                                pInputText
                                required
                                id="emailUsuarioTr"
                                type="text"
                                [(ngModel)]="emailUsuarioTr"
                                name="emailUsuarioTr"
                            />
                            <small
                                class="p-error"
                                *ngIf="submitted && !emailUsuarioTr">
                                Correo es requerido.
                            </small>
                        </div>
                        <div class="field">
                            <label for="telefonoUsuarioTr">N° de Teléfono</label>
                            <input
                                pInputText
                                required
                                id="telefonoUsuarioTr"
                                type="text"
                                [(ngModel)]="telefonoUsuarioTr"
                                name="telefonoUsuarioTr"
                            />
                            <small
                                class="p-error"
                                *ngIf="submitted && !telefonoUsuarioTr">
                                N° de Teléfono es requerido.
                            </small>
                        </div>
                    </form>
                </ng-template>

                <ng-template pTemplate="footer">
                    <button
                        pButton
                        label="Cancelar"
                        icon="pi pi-times"
                        class="p-button-text"
                        (click)="hideDialog()">
                    </button>
                    <button
                        pButton
                        label="Guardar"
                        icon="pi pi-check"
                        class="p-button-text"
                        (click)="savePerson()">
                    </button>
                </ng-template>
            </p-dialog>
        </ng-template>
    </div>
</div>
