<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title">
            Información General
        </ng-template>
        <ng-template pTemplate="subtitle">
            Ingresa la información de tu empresa
        </ng-template>
        <ng-template pTemplate="content">
            <div class="field grid">
                <div class="col-6 p-fluid">
                    <label for="rucP" class="text-lg block">RUC</label>
                    <p-inputMask
                        class="bg-primary"
                        id="rucP"
                        mask="9999999999001"
                        [(ngModel)]="nuevaInfo.rucP"
                        placeholder="9999999999001"
                        required
                        autofocus>
                    </p-inputMask>
                    <small
                        class="p-error"
                        *ngIf="submitted && !nuevaInfo.rucP">
                        RUC es requerido
                    </small>
                </div>
                <div class="col-6 p-fluid">
                    <label for="razonsocialP" class="text-lg block">
                        Razón Social
                    </label>
                    <input
                        id="razonSocialP"
                        type="text"
                        [(ngModel)]="nuevaInfo.razonSocialP"
                        pInputText
                        required/>
                    <small
                        class="p-error"
                        *ngIf="submitted && !nuevaInfo.razonSocialP">
                        Razón Social es requerida
                    </small>
                </div>
            </div>
            <div class="field grid ">
                <div class="col-12 p-fluid">
                    <label for="nomRLP" class="text-lg block">
                        Representante Legal
                    </label>
                    <input
                        id="nomRlp"
                        type="text"
                        [(ngModel)]="nuevaInfo.nomRlp"
                        pInputText
                        required/>
                    <small
                        class="p-error"
                        *ngIf="submitted && !nuevaInfo.nomRlp">
                        Representante Legal es requerido
                    </small>
                </div>
            </div>
            <div class="field grid ">
                <div class="col-4 p-fluid">
                    <label for="paisP" class="text-lg block">
                        País
                    </label>
                    <p-autoComplete
                        field="name"
                        [dropdown]="true"
                        [(ngModel)]="paisP"
                        [suggestions]="filteredCountries"
                        (completeMethod)="filterCountry($event)"
                        (onSelect)="filterState($event)"
                        required>
                        <ng-template let-country pTemplate="item">
                            <div class="country-item">
                                <div>{{ country.name }}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                    <small
                        class="p-error"
                        *ngIf="submitted && !paisP">
                        País es requerido
                    </small>
                </div>
                <div class="col-4 p-fluid">
                    <label for="provinciaP" class="text-lg block">
                        Provincia
                    </label>
                    <p-autoComplete
                        field="name"
                        [dropdown]="true"
                        [(ngModel)]="estadoP"
                        [suggestions]="filteredStates"
                        (completeMethod)="filterState($event)"
                        (onSelect)="filterCity($event)"
                        required>
                        <ng-template let-state pTemplate="item">
                            <div class="country-item">
                                <div>{{ state.name }}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                    <small
                        class="p-error"
                        *ngIf="submitted && !estadoP">
                        Provincia es requerida
                    </small>
                </div>
                <div class="col-4 p-fluid">
                    <label for="ciudadP" class="text-lg block">
                        Ciudad
                    </label>
                    <p-autoComplete
                        field="name"
                        [dropdown]="true"
                        [(ngModel)]="ciudadP"
                        [suggestions]="filteredCities"
                        (completeMethod)="filterCity($event)"
                        required>
                        <ng-template let-city pTemplate="item">
                            <div class="country-item">
                                <div>{{ city.name }}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                    <small
                        class="p-error"
                        *ngIf="submitted && !ciudadP">
                        Ciudad es requerida
                    </small>
                </div>
            </div>
            <div class="field grid">
                <div class="col-12 p-fluid">
                    <label for="direccionP" class="text-lg block">
                        Dirección
                    </label>
                    <textarea
                        rows="2"
                        cols="30"
                        [(ngModel)]="nuevaInfo.direccionP"
                        pInputTextarea
                        required>
                    </textarea>
                    <small
                        class="p-error"
                        *ngIf="submitted && !nuevaInfo.direccionP">
                        Dirección es requerida
                    </small>
                </div>
            </div>
            <div class="field grid">
                <div class="col-12 p-fluid">
                    <label for="emailP" class="text-lg block">
                        E-mail
                    </label>
                    <input
                        type="text"
                        pInputText
                        [pKeyFilter]="mail"
                        [(ngModel)]="nuevaInfo.emailP"
                        placeholder="xxxxxxxxx@ejemplo.com"
                        required
                    />
                    <small
                        class="p-error"
                        *ngIf="submitted && !nuevaInfo.emailP">
                        E-mail es requerido
                    </small>
                </div>
            </div>
            <div class="field grid">
                <div class="col-12 p-fluid">
                    <label for="paginaWP" class="text-lg block">
                        Sitio Web
                    </label>
                    <input
                        type="text"
                        pInputText
                        [pKeyFilter]="blockSpace"
                        [(ngModel)]="nuevaInfo.paginaWp"
                        placeholder="www.ejemplo.com"
                    />
                </div>
            </div>
            <div class="field grid">
                <div class="col-12 p-fluid">
                    <label for="naturalezaP" class="text-lg block">
                        Naturaleza del Negocio
                    </label>
                </div>
                <div class="col-6 field-checkbox" *ngFor="let category of naturaleza">
                    <p-radioButton
                        name="category"
                        [value]="category.idNaturaleza"
                        [(ngModel)]="nuevaInfo.idNaturaleza"
                        [inputId]="category.idNaturaleza"
                        required>
                    </p-radioButton>
                    <label for="category.idNaturaleza">{{ category.nombreNaturaleza }}</label>
                </div>
                <div class="col-12">
                    <small
                        class="p-error"
                        *ngIf="submitted && !nuevaInfo.idNaturaleza">
                        Naturaleza del Negocio es requerida
                    </small>
                </div>
            </div>
            <div class="field grid">
                <div class="col-12 p-fluid">
                    <label for="actividadEconomicaP" class="text-lg block">
                        Actividad Económica
                    </label>
                    <input
                        id="actividadEconomicaP"
                        type="text"
                        [(ngModel)]="nuevaInfo.actividadEconomicaP"
                        pInputText
                        required/>
                    <small
                        class="p-error"
                        *ngIf="submitted && !nuevaInfo.actividadEconomicaP">
                        Actividad Económica es requerida
                    </small>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-end">
                <p-button
                    label="Next"
                    (onClick)="nextPage()"
                    icon="pi pi-angle-right"
                    iconPos="right">
                </p-button>
            </div>
        </ng-template>
    </p-card>
</div>
